<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>yoga4now</title>
        <link href="/stylesheets/angular-carousel.css" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script type="text/javascript" src="/javascripts/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/vendors/angular-route.min.js"></script>
        <script type="text/javascript" src="/javascripts/vendors/angular-touch.min.js"></script>
        <script type="text/javascript" src="/javascripts/vendors/angular-carousel.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>

        <script type="text/javascript" src="/javascripts/controllers/digestController.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/stressController.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/calmingController.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/backacheController.js"></script>
        <script type="text/javascript" src="/javascripts/controllers/periodController.js"></script>
    </head>
    <body>

    <div class='main'>
        <main ng-view></main>
    </div>
    </body>
</html>