<div class="col-md-5 col-md-offset-4">
    <ul class="navHorz">
        <!--<li><a href="#headache">-->
        <!--<button>Headache</button>-->
        <!--</a></li>-->
        <li><a href="#backache">
            <button>Backache</button>
        </a></li>
        <li><a href="#stress">
            <button>Stress</button>
        </a></li>
        <!--<li><a href="#stretch">-->
        <!--<button>Stretch</button>-->
        <!--</a></li>-->
        <li><a href="#period">
            <button>Period Pain</button>
        </a></li>
        <li><a href="#digest">
            <button>Digestion</button>
        </a></li>
        <!--<li><a href="#energy">-->
        <!--<button>Energy</button>-->
        <!--</a></li>-->
        <li><a href="#calming">
            <button>Calming</button>
        </a></li>
    </ul>
</div>

<br/>
<br/>
<h1>Digestion</h1>
<hr>


<carousel>
    <slide ng-repeat="slide in digest" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
            <h4>{{slide.name}}</h4>
        </div>
        <!--<p class="below">{{slide.description}}</p>-->
    </slide>

</carousel>

<br/>
<br/>
<br/>
<br/>
<a href="#frontpage">
    <button>Home</button>
</a>