<div class="col-md-4 col-md-offset-4" id="frontBox">
    <h1>yoga for your needs right now</h1>
    <ul class="nav">
        <!--<li><a href="#headache">-->
            <!--<button>Headache</button>-->
        <!--</a></li>-->
        <li><a href="#backache">
            <button>Backache</button>
        </a></li>
        <li><a href="#stress">
            <button>Stress</button>
        </a></li>
        <!--<li><a href="#stretch">-->
            <!--<button>Stretch</button>-->
        <!--</a></li>-->
        <li><a href="#period">
            <button>Period Pain</button>
        </a></li>
        <li><a href="#digest">
            <button>Digestion</button>
        </a></li>
        <!--<li><a href="#energy">-->
            <!--<button>Energy</button>-->
        <!--</a></li>-->
        <li><a href="#calming">
            <button>Calming</button>
        </a></li>
    </ul>
</div>
