<div>
    <ul class="nav">
        <li><a href="#headache">
            <button>Headache</button>
        </a></li>
        <li><a href="#backache">
            <button>Backache</button>
        </a></li>
        <li><a href="#stress">
            <button>Stress</button>
        </a></li>
        <li><a href="#stretch">
            <button>Stretch</button>
        </a></li>
        <li><a href="#period">
            <button>Period Pain</button>
        </a></li>
        <li><a href="#digest">
            <button>Digestion</button>
        </a></li>
        <li><a href="#morning">
            <button>Morning</button>
        </a></li>
        <li><a href="#evening">
            <button>Evening</button>
        </a></li>
    </ul>
</div>
