<div class="col-md-6 col-md-offset-3">
    <ul class="navHorz">
        <li><a href="#headache">
            <button>Headache</button>
        </a></li>
        <li><a href="#backache">
            <button>Backache</button>
        </a></li>
        <li><a href="#stress">
            <button>Stress</button>
        </a></li>
        <li><a href="#stretch">
            <button>Stretch</button>
        </a></li>
        <li><a href="#period">
            <button>Period Pain</button>
        </a></li>
        <li><a href="#digest">
            <button>Digestion</button>
        </a></li>
        <li><a href="#morning">
            <button>Morning</button>
        </a></li>
        <li><a href="#evening">
            <button>Evening</button>
        </a></li>
    </ul>
</div>

<br/>
<br/>
<h1>Period Pain</h1>
<hr>


<carousel>
    <slide ng-repeat="slide in digest" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
            <h4>{{slide.name}}</h4>
        </div>
        <!--<p class="below">{{slide.description}}</p>-->
    </slide>

</carousel>